@charset "UTF-8";
/* Reset CSS */ /* Обнуление */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	dispaly: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	dispaly: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/* ------------------------ */
/* Font Poppins */
/* Font Bebas Neue */
body {
	font-family: "Poppins", sans-serif;
}

[class*=__container] {
	max-width: 1350px;
	margin: 0 auto;
}

h1 {
	font-family: "Bebas Neue", cursive;
	font-size: 130px;
	color: #FFFFFF;
	text-transform: uppercase;
}

h2 {
	font-family: "Bebas Neue";
	font-size: 50px;
	color: #FFFFFF;
}

h2:after,
h2:before {
	content: "";
	display: inline-block;
	width: 88px;
	height: 1px;
	background-color: #FFFFFF;
}

h2:before {
	margin: 0 15px 17px 0;
}

h2:after {
	margin: 0 0 17px 15px;
}

h3 {
	font-weight: 600;
	font-size: 22px;
	color: #D3AD7F;
}

h4 {
	font-weight: 600;
	font-size: 20px;
	color: #FFFFFF;
}

.button {
	display: inline-block;
	border-radius: 6px;
	padding: 15.5px 16px;
	background: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
}

.wrapper {
	min-height: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	background-color: #101011;
}
.wrapper .header {
	background: url("../img/header/bg.jpg") center/cover no-repeat;
}
.wrapper .header__container {
	padding: 0 0 218px 0;
}
.wrapper .header .main-menu {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 50px 1fr 50px auto;
	grid-template-columns: auto 1fr auto;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 50px;
	padding: 11px 0;
}
.wrapper .header .main-menu__menu {
	-ms-grid-column-align: end;
	    justify-self: end;
}
.wrapper .header .main-menu__items {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 40px;
}
.wrapper .header .main-menu__item a {
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
}
.wrapper .header .main-menu__item_active a {
	color: #D3AD7F;
}
.wrapper .header .main-menu__button {
	background-color: #D3AD7F;
}
.wrapper .header__title {
	max-width: 628px;
	margin: 179px 0 20px 0;
}
.wrapper .header__text {
	max-width: 538px;
	color: #938E8E;
	font-size: 20px;
	line-height: 30px;
}
.wrapper .header__buttons {
	margin: 50px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 12.65px;
}
.wrapper .header__button:nth-child(1) {
	background-color: #D3AD7F;
}
.wrapper .header__button:nth-child(2) {
	border: 1px solid #D3AD7F;
}
.wrapper .main .now-enjoy__body {
	padding: 100px 0 309px 0;
	margin: 0 auto;
	max-width: 937px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .main .now-enjoy__text {
	margin: 0 60px 0 100px;
	font-family: "Bebas Neue";
	font-size: 32px;
	line-height: 38px;
	color: #FFFFFF;
}
.wrapper .main .now-enjoy__about-us {
	font-size: 16px;
	line-height: 26px;
	color: #938E8E;
}
.wrapper .main .now-enjoy__about-us a {
	display: inline-block;
	margin: 11px 0 0 0;
	font-family: "Bebas Neue";
	font-size: 20px;
	text-decoration: underline;
	color: #FFFFFF;
}
.wrapper .main .popular-menu {
	background-color: #191919;
}
.wrapper .main .popular-menu__body {
	text-align: center;
	position: relative;
	padding: 311px 0 110px 0;
}
.wrapper .main .popular-menu__img {
	position: absolute;
	top: -211px;
	left: 2.074%;
}
.wrapper .main .popular-menu__title {
	margin: 0 0 50px 0;
}
.wrapper .main .popular-menu__menu {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 65px 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 31px 65px;
}
.wrapper .main .popular-menu__item {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 26px 1fr 26px auto;
	grid-template-columns: auto 1fr auto;
	gap: 26px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #605D5D;
	padding: 0 0 15px 0;
}
.wrapper .main .popular-menu__item-text {
	-ms-grid-column-align: start;
	    justify-self: start;
	text-align: left;
}
.wrapper .main .popular-menu__item-text p {
	font-size: 16px;
	color: #938E8E;
	margin: 19px 0 0 0;
}
.wrapper .main .popular-menu__item-price {
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
}
.wrapper .footer {
	background: url("../img/footer/bg.jpg") center/cover no-repeat;
}
.wrapper .footer__body {
	padding: 50px 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 102px auto 102px auto 102px minmax(auto, 345px);
	grid-template-columns: 1fr auto auto minmax(auto, 345px);
	gap: 50px 102px;
}
.wrapper .footer__text {
	max-width: 336px;
	font-size: 16px;
	line-height: 22px;
	color: #938E8E;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 15px 1fr;
	grid-template-columns: auto 1fr;
	gap: 30px 15px;
}
.wrapper .footer__text p:nth-child(3) {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/3;
}
.wrapper .footer__title {
	margin: 0 0 30px 0;
}
.wrapper .footer__useful-links ul, .wrapper .footer__help-links ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 15px;
}
.wrapper .footer__link {
	font-family: "Arial";
	font-size: 16px;
	line-height: 16px;
	color: #938E8E;
}
.wrapper .footer__subscribe h4 {
	margin: 0 0 50px 0;
}
.wrapper .footer__subscribe input {
	padding: 0 15px;
	display: block;
	text-align: center;
	width: 100%;
	height: 45px;
	background-color: #FFFFFF;
	border-radius: 6px;
}
.wrapper .footer__subscribe button {
	margin: 30px 0 0 0;
	border: 1px solid #D3AD7F;
}
.wrapper .footer__soc-net {
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1/5;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, 35px);
	grid-template-rows: repeat(auto-fit, 35px);
	gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	justify-items: center;
}
.wrapper .footer__rights {
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1/5;
	font-size: 16px;
	color: #938E8E;
	-ms-grid-column-align: center;
	    justify-self: center;
}