/* Reset CSS */
@import "nullstyle.scss";

/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body{
	font-family: 'Poppins', sans-serif;
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 130px;
	color: #FFFFFF;
	text-transform: uppercase;
}

h4{}

h3{}

h4{
	font-weight: 600;
	font-size: 20px;
	color: #FFFFFF;
}

.button {
	display: inline-block;
	border-radius: 6px;
	padding: 15.5px 16px;
	background: transparent;

	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
}



.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;

	.header {
		background: url("../img/header/bg.jpg") center/cover no-repeat;

		&__container {
			padding: 0 0 218px 0;
		}

		.main-menu {
			display: grid;
			grid-template-columns: auto 1fr auto;
			align-items: center;
			gap: 50px;

			padding: 11px 0;

			&__menu {
				justify-self: end;
			}
			&__items {
				display: inline-flex;
				flex-direction: row;
				gap: 40px;
			}

			&__item a{
				font-weight: 500;
				font-size: 16px;
				color: #FFFFFF;
			}
			&__item_active a{
				color: #D3AD7F;
			}
			&__button {
				background-color: #D3AD7F;
			}
		}

		&__title{
			max-width: 628px;
			margin: 179px 0 20px 0;
		}
		&__text{
			max-width: 538px;
			color: #938E8E;
			font-size: 20px;
			line-height: 30px;
		}
		&__buttons{
			margin: 50px 0 0 0;
			display: flex;
			gap: 12.65px;
		}
		&__button:nth-child(1){
			background-color: #D3AD7F;
		}
		&__button:nth-child(2){
			border: 1px solid #D3AD7F;
		}
	}

	.footer{
		background: url("../img/footer/bg.jpg") center/cover no-repeat;

		&__body {
			padding: 50px 0;
			display: grid;
			grid-template-columns: 1fr auto auto minmax(auto, 345px);
			gap: 50px 102px;
		}

		&__text {
			max-width: 336px;
			font-size: 16px;
			line-height: 22px;
			color: #938E8E;

			display: grid;
			grid-template-columns: auto 1fr;
			gap: 30px 15px;

			/*p:nth-child(2){
				max-width: 226px;
			}*/
			p:nth-child(3){
				grid-column: 1 / 3;
			}
		}

		&__title{
			margin: 0 0 30px 0;
		}

		&__useful-links ul,
		&__help-links ul{
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&__link{
			font-family: 'Arial';
			font-size: 16px;
			line-height: 16px;
			color: #938E8E;
		}

		&__subscribe{
			h4{
				margin: 0 0 50px 0;
			}
			input{
				display: block;
				text-align: center;
				width: 100%;
				height: 45px;
				background-color: #FFFFFF;
				border-radius: 6px;
			}
			button{
				margin: 30px 0 0 0;
				border: 1px solid #D3AD7F;
			}
		}

		&__soc-net{
			grid-column: 1 / 5;

			display: grid;
			grid-template-columns: repeat(auto-fit, 35px);
			grid-template-rows: repeat(auto-fit, 35px);
			gap: 30px;
			align-items: center;
			justify-items: center;

		}

		&__rights{
			grid-column: 1 / 5;
			font-size: 16px;
			color: #938E8E;
			justify-self: center;
		}
	}
}