// Reset CSS 
@import "nullstyle.scss";

// Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Font Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body{
	font-family: 'Poppins', sans-serif;
}

[class*="__container"] {
    max-width: 1390px;
    padding: 0 20px;
    margin: 0 auto;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 130px;
	color: #FFFFFF;
	text-transform: uppercase;
}

h2{
	font-family: 'Bebas Neue';
	font-size: 50px;
	color: #FFFFFF;
}
h2:after,
h2:before {
	content: "";
	display: inline-block;
	width: 88px;
	height: 1px;
	background-color: #FFFFFF;
}
h2:before {
	margin: 0 15px 17px 0;
}
h2:after {
	margin: 0 0 17px 15px;
}

h3{
	font-weight: 600;
	font-size: 22px;
	color: #D3AD7F;
}

h4{
	font-weight: 600;
	font-size: 20px;
	color: #FFFFFF;
}

.button {
	display: inline-block;
	border-radius: 6px;
	padding: 14.5px 15px;
	background: transparent;

	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;

	border: 1px solid #D3AD7F;

	transition: all 0.2s linear 0s;
}



// ============================ wrapper ===============================
.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	 background-color: #101011;

	// ============================ header ===============================
	.header {
		background: url("../img/header/bg.jpg") center/cover no-repeat;

		&__body {
			padding: 0 0 218px 0;
		}


		// ============================ main-menu ===============================
		.main-menu {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;

			padding: 11px 0;

			&__menu {
				justify-self: end;
			}
			&__items {
				display: inline-flex;
				flex-direction: row;
				gap: 40px;
			}

			&__item a{
				font-weight: 500;
				font-size: 16px;
				color: #FFFFFF;
				transition: all 0.15s linear 0s;
			}
			&__item a:hover{
				color: #D3AD7F;
			}
			&__item_active a{
				color: #D3AD7F;
			}
			&__button {
				background-color: #D3AD7F;
				margin: 0 0 0 50px;
			}
			&__button:hover {
				background-color: transparent;
			}

			&__burger{
				display: none;
			}
		}

		&__title{
			max-width: 628px;
			margin: 179px 0 20px 0;
		}
		&__text{
			max-width: 538px;
			color: #938E8E;
			font-size: 20px;
			line-height: 30px;
		}
		&__buttons{
			margin: 50px 0 0 0;
			display: flex;
			gap: 12.65px;
		}
		&__button:nth-child(1){
			background-color: #D3AD7F;
		}
		&__button:nth-child(1):hover{
			text-decoration: underline;
		}
		&__button:nth-child(2):hover{
			text-decoration: underline;
		}
	}

	// ============================ main ===============================
	.main {

		// ============================ now-enjoy ===============================
		.now-enjoy{

			&__body {
				padding: 100px 0 309px 0;
				margin: 0 auto;

				max-width: 937px;
				display: flex;
				align-items: center;
			}

			&__text{
				margin: 0 60px 0 100px;

				font-family: 'Bebas Neue';
				font-size: 32px;
				line-height: 38px;
				color: #FFFFFF;
			}
			&__about-us{
				font-size: 16px;
				line-height: 26px;
				color: #938E8E;

				a{
					display: inline-block;
					margin: 11px 0 0 0;
					font-family: 'Bebas Neue';
					font-size: 20px;
					text-decoration: underline;
					color: #FFFFFF;

					transition: all 0.15s linear 0s;
				}
				a:hover{
					color: #D3AD7F;
				}
			}
		}

		// ============================ popular-menu ===============================
		.popular-menu{
			background-color: #191919;

			&__body{
				text-align: center;
				position: relative;
				padding: 311px 0 110px 0;
			}

			&__img{
				position: absolute;
				top: -211px;
				left: 2.074%;
				text-align: center;
				width: 95.852%;
			}

			&__title {
				margin: 0 0 50px 0;
			}

			&__menu{
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 31px 65px;
			}
			&__item{
				display: grid;
				grid-template-columns: auto 1fr auto;
				gap: 26px;
				align-items: center;
				border-bottom: 1px solid #605D5D;
				padding: 0 0 15px 0;

				height: 100%;
			}
			&__item:hover{
				.popular-menu__item-text{
					h3{
						text-decoration: underline;
					}
					p {
						text-decoration: underline;
					}
				}
				.popular-menu__item-price{
					text-decoration: underline;
				}
			}
			&__item-text{
				justify-self: start;
				text-align: left;
			}
			&__item-text p{
				font-size: 16px;
				color: #938E8E;

				margin: 19px 0 0 0;
			}
			&__item-price{
				font-weight: 700;
				font-size: 20px;
				color: #FFFFFF;
			}
		}

		// ============================ exclusive ===============================
		.exclusive{

			&__body{
				padding: 100px 0;
				text-align: center;
			}

			&__items{
				display: inline-grid;
				grid-template-columns: minmax(150px, 390px) minmax(150px, 390px) minmax(150px, 390px);

				margin: 50px 0 0 0;
			}
			&__item{
				padding: 38px 50px;

				transition: all 0.2s linear 0s;
			}
			&__item:hover{
				background-color: #191919;
				.exclusive__item-title{
					text-decoration: underline;
				}
			}
			&__item-img{

				img{
					width: 100%;
				}
			}
			&__item-title{
				font-weight: 600;
				font-size: 20px;
				color: #D3AD7F;

				margin: 32px 0 0 0;
			}
			&__item-text{
				font-size: 16px;
				line-height: 26px;
				color: #938E8E;

				margin: 25px 0;
			}
			&__item-price{
				font-weight: 700;
				font-size: 20px;
				color: #FFFFFF;
			}
		}

		// ============================ masterchef ===============================
		.masterchef{
			&__items{
				display: grid;
				grid-template-columns: 50% 50%;
				grid-template-rows: 50vw;
			}

			&__item-big{
				display: grid;
				grid-template-columns: 53.854167% 46.145833%;

				background-color: #191919;

				padding: 6vw 0 0 0;
			}
			&__item-big-img{
				align-self: end;
				height: 44vw;
			}
			&__item-big-img img{
				height: 100%;
			}
			&__item-big-quote{
				align-self: center;
				>div{
					display: grid;
					grid-template-columns: 13.99549% 61.39955% 10.83521%;
				}
			}
			&__item-big-text{
				margin: 2.70831vw 0 2.7604vw 0;
			}

			&__item-big-title{
				font-family: 'Bebas Neue';
				font-size: 50px;
				color: #FFFFFF;
			}
			&__item-big-subtitle{
				font-size: 16px;
				line-height: 26px;
				color: #FFFFFF;
				margin: 1.5625vw 0 1.04164vw 0;
			}
			&__item-big-text p:nth-child(3){
				font-size: 16px;
				line-height: 26px;
				color: #938E8E;
			}

			&__item-big-quotes{
				width: 100%;
			}
			&__item-big-quotes:first-child{
				padding: 0 22.58064161290322% 0 0;
			}
			&__item-big-quotes:last-child{
				align-self: end;
				transform: rotate(180deg);
			}

			&__items-small{
				display: grid;
				grid-template-columns: 50% 50%;
				grid-template-rows: 25vw 25vw;
				div{
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
				}
				div:nth-child(1){
					background-color: #FFFFFF;
				}
				div:nth-child(4){
					background-color: #000000;
				}
			}
			&__item-small-text{
				font-family: 'Bebas Neue';
				font-size: 3.125vw;
				text-transform: capitalize;
				color: #000000;
			}
			&__item-small-text_white{
				color: #FFFFFF;
			}
			&__item-small-img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		// ============================ guestbook ===============================
		.guestbook{

			&__body{
				padding: 100px 0 185.5px 0;
				text-align: center;
			}

			&__items{
				max-width: 1170px;
				margin: 50px auto 0 auto;

				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 15px;
			}

			&__item{
				background-color: #191919;
				border-radius: 8px;

				padding: 25px 19px 0 19px;

				display: grid;
				grid-template-rows: 1fr 34.5px;

				transition: all 0.2s linear 0s;
			}

			&__item:hover{
				transform: scale(1.2, 1.2);
				box-shadow: 0px 0px 15px rgba(0, 0 , 0, 0.5);
			}

			&__quotes{
				display: inline-block;
				width: 41px;
				height: 34px;

				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			&__text{
				font-size: 14px;
				line-height: 22px;
				color: #938E8E;

				margin: 18px 0 21px 0;
			}
			&__profile{

				p:last-child{
					font-size: 12px;
					line-height: 14px;
					color: #FFFFFF;
					opacity: 0.3;
				}
			}
			&__avatar{
				display: inline-block;
				height: 69px;
				width: 69px;

				img{
					width: 100%;
					height: 100%;
				}
			}
			&__name{
				font-weight: 500;
				font-size: 14px;
				line-height: 14px;
				color: #FFFFFF;
				opacity: 0.3;

				margin: 19px 0 4px 0;
			}
		}

		// ============================ exquisite ===============================
		.exquisite{
			background-color: #191919;

			&__body{
				padding: 50px 0;
				text-align: center;
				max-width: 1120px;
				margin: 0 auto;

				text-align: center;
			}

			&__items{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 47.662% 47.662%;
				gap: 30px;

				margin: 51px 0 0 0;
			}
			&__item{
				background-color: #000000;

				display: grid;
				grid-template-columns: 42.20183% 57.79817%;
				grid-template-rows: 100%;
				align-items: center;

				>div:last-child{
					padding: 20px 40px;
				}
			}

			&__img{
				height: 100%;
				width: 100%;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			&__title{
				margin: 30px 0 20px 0;
			}
			&__text{
				font-size: 16px;
				line-height: 26px;
				color: #938E8E;
			}
		}

		// ============================ contact ===============================
		.contact {
			&__body{
				padding: 100px 0;
				text-align: center;
			}

			&__items{
				display: inline-grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: 22px;

			}

			&__item{
				padding: 45px 50px 45px 50px;
				background-color: #191919;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
				border-radius: 8px;
			}

			&__icon{
				display: inline-grid;
				width: 89px;
				height: 89px;
				background-color: rgba(211, 173, 127, 0.3);
				border-radius: 50%;
				align-items: center;
				justify-items: center;

				img{
					max-height: 44px;
					max-width: 44px;
				}
			}
			&__title{
				margin: 30px 0 15px 0;
				text-transform: uppercase;
			}
			&__text{
				font-size: 16px;
				line-height: 26px;
				text-transform: capitalize;
				color: #938E8E;
			}
		}
	}

	// ============================ footer ===============================
	.footer{
		background: url("../img/footer/bg.jpg") center/cover no-repeat;

		&__body {
			padding: 50px 0;
			display: grid;
			grid-template-columns: 1fr auto auto minmax(auto, 345px);
			gap: 50px 102px;
		}

		&__text {
			max-width: 336px;
			font-size: 16px;
			line-height: 22px;
			color: #938E8E;

			display: grid;
			grid-template-columns: 95px 1fr;
			gap: 30px 15px;

			img{
				align-self: center;
				width: 100%;
			}

			p:nth-child(3){
				grid-column: 1 / 3;
			}
		}

		&__title{
			margin: 0 0 30px 0;
		}

		&__useful-links ul,
		&__help-links ul{
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&__link{
			font-family: 'Arial';
			font-size: 16px;
			color: #938E8E;
		}
		&__link:hover{
			text-decoration: underline;
		}

		&__subscribe{
			h4{
				margin: 0 0 50px 0;
			}
			input{
				padding: 0 15px;
				display: block;
				text-align: center;
				width: 100%;
				height: 45px;
				background-color: #FFFFFF;
				border-radius: 6px;

				transition: all 0.1s linear 0s;
			}
			input:focus{
				box-shadow: 0px 0px 5px rgba(211, 173, 127, 1);
				border: 4px solid #D3AD7F;
			}
			button{
				margin: 30px 0 0 0;
			}
			button:hover{
				background-color: #D3AD7F;
			}

		}

		&__soc-net{
			grid-column: 1 / 5;

			display: grid;
			grid-template-columns: repeat(3, 35px);
			grid-template-rows: repeat(auto-fit, 35px);
			gap: 30px;
			align-items: center;
			justify-items: center;

		}

		&__rights{
			grid-column: 1 / 5;
			font-size: 16px;
			color: #938E8E;
			justify-self: center;
		}
	}
}



// ------------------------- @media max-width: 1400px ----------------------------
@media (max-width: 1400px){

	.wrapper{

		.main{

			.popular-menu{

				&__body{
					padding: 22.2142857vw 0 110px 0;
				}

				&__img{
					top: -15vw;
				}
			}

			.now-enjoy{
				&__body {
					padding-bottom: 22vw;
				}
			}
		}
	}
}

// ------------------------- @media max-width: 1253px ----------------------------
@media (max-width: 1253px) {

	.wrapper{

		.main{

			.contact{

				&__item{
					padding: 45px 17px;
				}
			}
		}

		.footer{
			&__body {
				grid-template-columns: auto 165px 153px minmax(136px, 300px);
				gap: 45px 90px;
			}
		}
	}
}


// ------------------------- @media max-width: 1140px ----------------------------
@media (max-width: 1140px) {

	.wrapper{

		.main{

			.masterchef{


				&__item-big-title{
					font-size: 40px;
				}
				&__item-big-subtitle{
					font-size: 16px;
					line-height: 21px;
				}
				&__item-big-text p:nth-child(3){
					font-size: 16px;
					line-height: 21px;
				}
			}
		}
	}
}



// ------------------------- @media max-width: 1099px ----------------------------
@media (max-width: 1099px) {

	.wrapper{

		.main{

			.popular-menu{

				&__body{
					padding-bottom: 100px;
				}
			}

			.exclusive{

				&__body{
					padding: 90px 0;
				}

				&__items{
					margin: 40px 0 0 0;
				}
			}

			.guestbook{

				&__body{
					padding: 90px 0 165.5px 0;
				}
			}

			.contact{


				&__body{
					padding: 90px 0;
				}
			}
		}

		.footer{

			&__body {
				grid-template-columns: auto 165px 153px minmax(136px, auto);
				gap: 40px 70px;
			}
		}
	}
}

// ------------------------- @media max-width: 991px -----------------------------
@media (max-width: 991px) {
	h1{
		font-size: 100px;
	}

	.wrapper{

		.header{

			&__body{
				padding-bottom: 180px;
			}

			.main-menu{

				&__items{
					gap: 20px;
				}
				&__button{
					margin: 0 0 0 30px;
				}
			}
			&__title{
				max-width: 595px;
				margin: 150px 0 20px 0;
			}
			&__text{
				max-width: 400px;
			}
		}

		.main{

			.now-enjoy{

				&__body{
					padding-top: 85px;
				}
			}

			.popular-menu{

				&__body{
					padding-bottom: 90px;
				}

				&__menu{
					gap: 31px 40px;
				}
			}

			.exclusive{

				&__body{
					padding: 90px 0;
				}

				&__item{
					padding: 28px 40px;
				}
				&__item-title{
					margin: 20px 0 0 0;
				}
				&__item-text{
					margin: 15px 0;
				}
			}

			.masterchef{

				&__item-big-quote{
					>div{
						display: grid;
						grid-template-columns: 13.99549% 72.6693% 10.83521%;
					}
				}

				&__item-big-title{
					font-size: 28px;
				}
				&__item-big-subtitle{
					font-size: 14px;
					line-height: 15px;
				}
				&__item-big-text p:nth-child(3){
					font-size: 14px;
					line-height: 15px;
				}
			}

			.guestbook{

				&__body{
					padding: 70px 0 145.5px 0;
				}

				&__items{
					margin-top: 40px;
				}
			}

			.exquisite{
				&__items{
					gap: 20px;
					margin: 41px 0 0 0;
				}

				&__item{

					>div:last-child{
						padding: 15px 30px;
					}
				}

				&__title{
					margin: 20px 0 15px 0;
				}
				&__text{
					font-size: 16px;
					line-height: 24px;
				}
			}

			.contact{


				&__body{
					padding: 70px 0;
				}

				&__items{
					display: inline-grid;
					grid-template-columns: 1fr 1fr;
					gap: 30px;

				}

				&__item{
					padding: 45px 80px;
				}
			}
		}

		.footer{

			h4{
				font-size: 19px;
			}

			&__body {
				grid-template-columns: minmax(185px, auto) 154px 143px minmax(136px, auto);
				gap: 30px 35px;
			}

			&__link{
				font-size: 15px;
			}

			&__text {
				font-size: 15px;
				line-height: 19px;
				text-align: justify;

				grid-template-columns: 1fr;
				grid-template-rows: 58px auto auto;
				gap: 20px 10px;

				img{
					width: auto;
					height: 100%;
					justify-self: center;
				}

				p:nth-child(3){
					grid-column: 1 / 2;
				}
			}
		}
	}
}

// ------------------------- @media max-width: 767px -----------------------------
@media (max-width: 767px) {
	h1{
		font-size: 80px;
	}
	body {
		overflow-x: hidden;
	}

	.wrapper{

		.header{

			.main-menu{

				&__logo{
					height: 60px;

					img{
						height: 100%;
					}
				}

				&__menu{
					overflow-y: auto;
					display: block;
					text-align: right;
					position: absolute;
					background-color: #191919;
					min-width: 142px;
					height: 100vh;
					top: 0;
					right: -160px;
					border-top: 80px solid #191919;
					padding: 0 20px 20px 20px;
					opacity: 0;
					visibility: hidden;
					transition: all 0.2s ease;	
				}
				&__items {
					display: flex;
					flex-direction: column;
					align-items: flex-end;		
				}
				&__item a{
					display: block;
					width: 101px;
					text-align: left;
				}
				&__button{
					margin: 20px 0 0 0;
				}

				&__burger{
					display: block;
					justify-self: end;
				}
				.burger{
					height: 30px;
					width: 30px;
					display: grid;		
					row-gap: 8px;
					grid-template: 1fr 1fr 1fr / 1fr;
					z-index: 10;
					cursor: pointer;
					

					&__row{
						background-color: #D3AD7F;
						border-radius: 2px;
						transition: all 0.2s ease;
					}
				}
				
			}

			&__title{
				max-width: 470px;
			}
			&__text{
				max-width: 270px;
				font-size: 18px;
				line-height: 27px;
			}
		}

		.main{

			.now-enjoy{
				&__body {
					padding: 60px 0 200px 0;
				}

				&__text{
					margin: 0 20px 0 10px;

				}

				&__about-us{
					text-align: justify;
				}
			}

			.popular-menu{
				&__body{
					padding-bottom: 70px;
				}

				&__menu{
					grid-template-columns: 1fr;
					gap: 31px 0px;;
				}
			}

			.exclusive{


				&__body{
					padding: 65px 0 45px 0;
				}

				&__item{
					padding: 25px 20px;
				}

				&__item:hover{
					background-color: transparent;
					.exclusive__item-title{
						text-decoration: none;
					}
				}
			}

			.masterchef{

				&__items{
					grid-template-columns: 1fr;
					grid-template-rows: 100vw 100vw;
				}

				&__item-big-img{
					height: 88vw;
				}

				&__item-big-quote{
					>div{
						display: grid;
						grid-template-columns: 13.99549% 69.6693% 10.83521%;
					}
				}

				&__item-big-title{
					font-size: 50px;
				}
				&__item-big-subtitle{
					font-size: 16px;
					line-height: 26px;
				}
				&__item-big-text p:nth-child(3){
					font-size: 16px;
					line-height: 26px;
				}
				&__items-small{
					grid-template-rows: 50vw 50vw;
				}
				&__item-small-text{
					font-size: 6.25vw
				}
			}

			.guestbook{

				&__body{
					padding: 60px 0 140.5px 0;
				}

				&__items{
					margin: 30px auto 0 auto;
					grid-template-columns: 1fr;
					gap: 120px;
				}

				&__item:hover{
					transform: scale(1, 1);
					box-shadow: none;
				}
			}

			.exquisite{

				&__items{
					grid-template-columns: 1fr;
					grid-template-rows: 23.831% 23.831% 23.831% 23.831%;
					gap: 20px;
					margin: 31px 0 0 0;
				}

				&__text{
					font-size: 16px;
					line-height: 26px;
					color: #938E8E;
				}

				&__item{

					>div:last-child{
						padding: 20px 40px;
					}
				}

				&__title{
					margin: 30px 0 20px 0;
				}
				&__text{
					font-size: 16px;
					line-height: 26px;
				}
			}

			.contact{

				&__body{
					padding: 60px 0;
				}

				&__item{
					padding: 40px 30px;
				}
			}
		}

		.footer{

			&__body {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 30px 35px;
			}

			&__text{
				max-width: none;
				grid-template-columns: 95px 1fr;
				grid-template-rows: auto auto;
				grid-column: 1 / 4;

				order: 5;

				gap: 15px 30px;

				img{
					width: 100%;
					height: auto;
					grid-row: 1/3;
				}

				p:nth-child(3){
					grid-column: 2/3;
				}
			}
			&__soc-net{
				grid-column: 1 / 4;
				order: 4;
			}

			&__rights{
				grid-column: 1 / 4;
				order: 6;
			}
		}
	}

	._open-burger {
		overflow-y: hidden;

		.wrapper {

			.header {

				.main-menu {
					&__menu {
						right: 0;
						opacity: 1;
						visibility: visible;
					}
				}
				.burger{
					&__row:nth-child(2) {
						opacity: 0;
						visibility: hidden;
					}
					&__row:nth-child(1) {
						transform: rotate(45deg);
						position: relative;
						top: 12.5px;
					}
					&__row:nth-child(3) {
						transform: rotate(-45deg);
						position: relative;
						top: -12.5px;
					}
				}
			}
		}
	}
}

// ------------------------- @media max-width: 575px -----------------------------
@media (max-width: 575px) {
	h2{
		font-size: 40px;
	}
	h2:after,
	h2:before {
		content: "";
		display: inline-block;
		width: 10px;
		height: 1px;
		background-color: #FFFFFF;
	}
	h2:before {
		margin: 0 8px 17px 0;
	}
	h2:after {
		margin: 0 0 17px 8px;
	}

	h4{
		font-size: 18px;
	}

	.wrapper{

		.header{

			&__body{
				padding: 0 0 50px 0;
			}

			&__title{
				text-align: center;
				max-width: 575px;
				margin: 50px 0 35px 0; 
			}
			&__text{
				text-align: center;
				margin: 0 auto;
			}
			&__buttons{
				justify-content: center;
			}
		}

		.main{

			.now-enjoy{

				&__body {
					padding: 50px 0 33vw 0;
					flex-direction: column;
				}

				&__text{
					margin: 20px 0 15px 0;
					text-align: center;

				}

				&__about-us{
					text-align: center;
				}
			}

			.popular-menu{
 				&__title{
 					margin-bottom: 30px;
 				}

 				h3{
 					font-size: 20px;
 				}

 				&__body{
 					padding-top: 30vw;
					padding-bottom: 50px;
				}

				&__item{

					gap: 15px;

					img{
						width: 60px;
					}
				}

				&__item-text p{
					font-size: 14px;
					margin: 8px 0 0 0;
				}

				&__item-price{
					font-size: 18px;
				}

			}

			.exclusive{

				&__body{
					padding: 50px 0 40px 0;
				}

				&__items{
					display: inline-grid;
					grid-template-columns: 1fr;
					gap: 20px;
					margin: 15px 0 0 0;
				}

				&__item{
					padding: 7vw 20vw;
				}
			}

			.masterchef{

				&__item-big-title{
					font-size: 24px;
				}
				&__item-big-subtitle{
					font-size: 12px;
					line-height: 14px;
				}
				&__item-big-text p:nth-child(3){
					font-size: 12px;
					line-height: 14px;
				}
			}

			.guestbook{

				&__body{
					padding: 50px 0 135.5px 0;
				}
			}

			.exquisite{

				&__items{
					gap: 15px;
					margin: 25px 0 0 0;
				}

				&__text{
					font-size: 16px;
					line-height: 26px;
					color: #938E8E;
				}

				&__item{

					>div:last-child{
						padding: 10px 15px;
					}
				}

				&__title{
					margin: 15px 0 10px 0;
				}
				&__text{
					font-size: 14px;
					line-height: 20px;
				}
			}

			.contact{

				&__body{
					padding: 50px 0;
				}

				&__items{
					grid-template-columns: 1fr;
					gap: 30px;

				}

				&__item{
					padding: 30px 40px;
				}
			}
		}

		.footer{

			h4{
				font-size: 20px;
			}

			&__body {
				grid-template-columns: 1fr;
				gap: 40px;

				justify-items: center;
			}

			&__text{
				width: 90%;
				grid-template-columns: 95px 1fr;
				grid-template-rows: auto auto;
				grid-column: 1 / 2;

				order: 5;

				gap: 15px 20px;

				img{
					width: 100%;
					height: auto;
					grid-row: 1/2;
				}

				p:nth-child(3){
					grid-column: 1/3;
				}
			}

			&__useful-links,
			&__help-links,
			&__subscribe{
				text-align: center;
			}

			&__title{
				margin: 0 0 15px 0;
			}

			&__link{
				font-size: 16px;
			}

			&__subscribe{

				width: 90%;
				order: 4;

				h4{
					margin: 0 0 15px 0;
				}
				button{
					margin: 15px 0 0 0;
				}
			}

			&__soc-net{
				grid-column: 1 / 2;
				order: 3;
			}

			&__rights{
				grid-column: 1 / 2;
				order: 6;
			}
		}
	}
}